html{
  background-color:#090091;
  background:linear-gradient(#090091,#6addbd);
  background-repeat: no-repeat;
  height:100%;
}
h1{
  font-size:40px;
  color:#e2fff7;
  text-align:center;
}
 #button1, #button2, #button3{
   color:#3656c9;
   border:none;
   padding: 40px;
   margin: 15px;
  font-size: 35px;
   background:#b2ffee;
   border: solid 2px #08602d ;
   border-radius: 12px;
}

#button1{
  padding-right:58px;
  text-align:center;

}

div{
  text-align: center;
}
h2{
  font-size:80px;
  text-align: center;
  font-weight:bold;
}
.visible{
  display: visible;

}
.hidden{
  display:none;
}
::selection{
  background-color:#invisible;
  color: #dd10ee;

}
#creater{
  text-align:center;

}
#button{

}
#dateOf #tournamentName{
  text-align:center;

}
#timer1{
  font-size: 40px;
  color:#0da30f;
}
#timer2{
  font-size: 40px;
  color:#e8dc00;
}
#timer3{
  font-size: 40px;
  color:#d80202;
}
#stop{
  color:red;
  border:none;
  padding: 20px;
 font-size: 20px;
  background:#white;
  border: solid 2px black;
  border-radius: 12px;

}
#date{
  position:absolute;
top:0px;
right:0px;
}
#endTime{
  font-size: 40px;
  color:#fff;
}
