body{
    font-family: "Roboto";
    font-size:25px;
    background-color:white;
    height:900px;
    overflow-y:auto;
}
::selection{
	background-color:#invisible;
	color: #8D0E57;
}
.hidden {
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}
.visible {
    display: block;
}
.listdiv {

    width:70%;
    margin-left:10%;
    font-size:25px;
}
#listOpen li,
#listClosed li{
    display:inline-block;
    margin-left:3%;
    width: calc(100% - 3% - 75px);
    vertical-align: top;
    margin-top:20px;
}
#left-side{
  margin-left:30%;
}
.h2List {
    margin-bottom: 0px;
}
.bracketFrame {
    border: solid 1px black;
    background: #53565A;
    width: 700px;
    height: 600px;
    margin-left:32.5%;
    margin-top:30px;
}
a {
    cursor: pointer;
    font-size: 35px;
    font-weight:bold;
    text-align: center;
}
h1{
    padding-bottom:  10px;
    margin-bottom:  0;
}
h1,h2{
    text-align:  center;
    font-size:35px;
}

.home2 img ,
.home img,
#homeForWin img,
.homeWin img{
  width: 50px;
  height: 50px;
}

/*ui-widget-content ui-helper-clearfix ui-corner-all*/

#tNamePlace{
     font-weight:bold;
     margin-bottom:3%;
     color: #A4D65E;
}
#tournamentName{
    display:  inline-block;
    margin-left: 150px;
}
#nameProgress{
    margin-bottom:10px;
    margin-left:7%;
    font-size:30px;
}
#nameOpen{
    font-size:30px;
    margin-left:-43%;
}
#createNewTournament{
    background-color:#619400;
    color:#fff;
    height:80px;
    margin-bottom:20px;
}
.main-section{
    margin-top:0;
    background-color:#A4D65E;
}
#generate{
    margin-left:40%;
    width:  250px;
    height:150px;
    font-size:30px;
    text-align:  center;
    background-color:white;
    color:#A4D65E;
    font-weight:bold;
    margin-top:2%;
}
.tourneyStartDate{
  margin-top:-20px;
}
#participants{

    margin-top: 0;
    margin-left:calc(100%-50%-60px);
    background-color: white;
    font-weight: bold;
    font-size: 33px;
}
#enter{
    width:25%;
    height: 3.5em;
    color:#fff;
    background-color:#A4D65E;
    font-weight:bold;
    font-size:15px;
    float:left;
}
#playerName,#tourName{
    width:20em; height: 2.5em;
    display:  inline-block;
}
#tourName{
    font-size: 17px;
    margin-bottom:0;
}
#playerName{
   float:left;
   width:50%;
   height: 3.5em;
}
.center{
    width: 60%;
    margin: 0 auto;
}
.twoCols{
    float:left;
    width:  50%;
}
#datepicker{
    width:20em;
    height: 2.5em;
    font-size: 17px;
    margin-bottom: 3%;
    margin-top:0;
}
#runMax{
    height:1.5em;
    width: 1.5em;
}
#numPlayers{
    height: 2.5em;
    width: 10em;
}
#playerAmount{
    margin-top:50px;
    margin-left:150px;
}
#startDate{
    margin-top:50px;
    margin-bottom:50px;
}
#maxPlayers{
    margin-top:30px;
    margin-left: 150px;
}
#joinScreen {
    margin-top:2%;
    text-align: center;
    font-size: 50px;
    background-color:white;
}
#playerList{
    margin-left:36.5%;
    font-weight: bold;
    font-size: 35px;
}
#signedUp{
    height:30%;
    margin:0;
    font-size: 25px;
}
.main-section{
    overflow:  auto;
}
#backgroundWhite{
    background-color: white;
    color:black;
}
.startDateLabel{
    font-size:  smaller;
    color:  gray;
}
.startDate{
    font-size:  smaller;
    color:  gray;
}
button{
    height:50px;
    width:65px;
    margin-top:20px;
    background-color:#A4D65E;
    color:white;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
}
#joinRightCol{
    float:left;
    margin-left:50%;
}
#startTime{
    font-weight:bold;
    font-size:50px;
    text-align: center;
    width:100%;
    margin-left:-15%;
    margin-top:7%;
}
.titleWin{
    color:#A4D65E;
    font-size:50px;
}
.flex{
    display: flex;
    align-content: center;
    justify-content: space-around;
}
.headers{
    background:#A4D65E;
    color:white;
    width:350px;
    height:50px;
    vertical-align: center;
}
.winnerButton{
    position: absolute;
    display: block;
    top: 50px;
    font-size:25px;
    background:#A4D65E;
    color:white;
    height: 40px;
    width: 180px;
    margin-top: -20px;
}
#tNameBracket{
    color:#A4D65E;
    font-size:50px;
    margin-left:35%;
    font-weight:bold;
    margin-top:1.5%;
}
.name{
    background-color:#A4D65E;
    width: 33.33%;
    padding-left: 15px;
    font-size:35px;
    color:white;
}
table{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top:1.5%;
    border: 1px solid gray;
}
th .name{
    text-align: left;
}
td{
    padding-left:10px;
}
td:nth-child(1),
th:nth-child(1),
th:nth-child(2),
td:nth-child(2){
    border-right: 5px dotted gray;
}
.doneButton{
    background-color:#A4D65E;
    margin-left:20%;
    margin-top: 5%;
    height:3.5em;
    width:25%;
    font-size:20px;
    font-weight:bold;
    color: white;
}
#bracketInstructions,
#joinInstructions{
  text-align:center;
  font-size:15px;
}



@media screen and (max-width: 1155px){
.center{
    width: 90%;
}
#generate{
    margin-left:33%;
    width:250px;
    margin-top:10%;
}
#homeForWin{
    margin-left:38.5%;
}
#tournamentName{
    margin-left: 20%;
    padding-left: 10%;
}
.tourneyStartDate{
    margin-left: 13%;
}
#nameProgress{
    margin-left:5%;
}
#listClosed{
    margin-left:1%;
}
#nameOpen{
    margin-left:-15%%;
}
#listOpen{
    margin-left:15%;
}
#listdiv{
    overflow-x: auto;
}
button {
    margin-right:0px;
    display: inline-block;
}
#homeForWin {
    margin-left:0%;
}
.bracketFrame {
    margin-left:20%;
}
#tNameBracket{
    margin-left:25%;
}
#playerName{
    width:20em;
    float:left;
}
#right2{
    width:30%;
    margin-left: 15%;
}
#left2{
    width:70%;
    margin-right:-30%;
}
.openTourney{
    margin-left:-15%;
}
#openSide{
  margin-left:32%;
}
.winnerButton{
    position: static;
    margin-top: 20px;
}
#maxPlayers{
    margin-left: 20%;
}
#openSide{
  margin-left:0%;
  width:80%;
}
#left-side{
  margin-left:10%;
  width:80%;
}
.twoCols{
  width:50%;
}
#participants{
  width:95%;
}
#startTime{
  margin-top:3%;
}
#signedUp{
  width:50%;
}
}
@media screen and (max-width: 835px){
#maxPlayers{
   margin-left: 10%;
}
#tournamentName{
    margin-left: 10%;
    padding-left: 12%;
}
.bracketFrame {
    width: 500px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
}
#participants {
    font-size: 25px;
    width:95%;
}
#startTime {
    font-size: 30px;
}
#tNamePlace {
    font-size: 30px;
}
#nameOpen{
  margin-left:-5%;
  font-size:25px;
}
#nameProgress{
    font-size:25px;
}
}
@media screen and (max-width: 780px){
#generate{
    margin-left:33%;
    font-size:23px;
    width:200px;
    margin-top:2.5%;
    margin-bottom:3%;
}
.twoCols{
  width:100%;
}
#openSide{
  margin-left:20%;
}
#left-side{
  margin-left:20%;
}
#playerName{
  width:250px;
}
#right2 {
    margin-left: 2%;
    position: relative;
}
#left2 {
    width:100%;
    margin-right:0;
}
#startTime,
.doneButton{
  margin-left: 0;
  width:100%;
}
.titleWin{
  font-size:30px;
}
.name{
  font-size:30px;
}
td{
  font-size: 25px;
}

#enterButton img{
  display: none;
}

table{
  width:60%;
}
#right2{
  margin-left:35%;
}
#enterButton{
  margin-left:17%;
}
}
@media screen and (max-width: 470px){
h1,h2{
  font-size:25px;
}
a{
  font-size:25px;
}
#tournamentName,
#titleStartDate
{
  font-size:20px;
  margin-top:-5%;
  margin-left:-10%;
}
#tournamentName{
  padding-left:23%;
}
#tourName,
#datepicker{
  width:10em;
  height:1.5em;
}
#generate{
  height:4em;
  width:7em;
}
#nameOpen,#nameProgress{
  font-size:25px;
}
button{
  height:40px;
  width:60px;
}
.home2 img ,
.home img,
#homeForWin img,
.homeWin img{
  width: 40px;
  height: 40px;
}
.openTourneyName, li{
  font-size:25px;
}
.startDateLabel, .startDate{
  font-size:20px;
}
#openSide{
  margin-left:15%;
  width:85%;
}
#left-side{
  margin-left:10%;
  width:90%;
}
#playerName{
  width:250px;
  margin-left:-7%;
}
#right2{
  width:100%;
  margin-left:30%;
}
.name{
  font-size:23px;
}
td{
  font-size: 25px;
}
}
@media screen and (max-width: 414px){
  #tournamentName{
    margin-left:5%;
  }
  .tourneyStartDate{
    margin-left:26%;
    margin-top:-10%;
  }
  #datepicker{
    margin-left:-8%;
  }
  #generate{
    margin-left:30%;
  }
  .ui-datepicker.ui-widget{
    left: 0px !important;
    top: 20px;
    right: 0px;
    width: 96%;
  }
#playerName{
  width:200px;
}
#right2{
  margin-left:30%;
}
.name{
  font-size:20px;
}
td{
  font-size: 20px;
}
}
@media screen and (max-width: 375px){
#tournamentName{
  margin-left:5%;
}
.tourneyStartDate{
  margin-left:26%;
  margin-top:-10%;
}
#datepicker{
  margin-left:-8%;
}
#generate{
  margin-left:30%;
}
#nameOpen{
  margin-left:-25%;
}
#nameProgress{
  margin-left:-10%;

}
#openSide{
  margin-left:2%;
}
#left-side{
  margin-left:0%;
}
.bracketFrame {
    width: 350px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
}
}
