
body{
    font-family: Helvetica;
    font-size:20px;
    background: #99ccff;  
    height:900px; 
}
.hidden {
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}
.visible {
    display: block;
}
.listdiv {
    overflow: auto;
    height:  calc(50vh - 40px - 80px);
    width:70%;
    margin-left:  20%;
    display: inline-block;
    margin-right: 20px;
}
#listOpen li{
    display:inline-block; 
    margin-right:5%; 
}
#listClosed li{
    display:inline-block;
    margin-right:5%; 
}
.h2List {
    margin-bottom: 0px;
}
.bracketFrame {
    border: solid 1px black;
    background: #4D4D4D;
    width: 700px;
    height: 600px;
}
a {
    cursor: pointer;
}
h1{
    border-bottom:  1px solid black;
    padding-bottom:  10px;
    margin-bottom:  0;
}
h1, h2{
  text-align:  center;
}
#tNamePlace{
 font-weight:bold;
}
#tournamentName{
  display:  inline-block;
 margin-left: 27%;
 margin-top:50px;  
}
h2{
  margin-bottom:  10px;
}
.newTournament {
    float: left;
    width: calc(50% - 1px);
    height: calc(100vh - 78px);
    text-align: left;
}
.newTournament h2{
  margin-top:  10%;
}
.right-col{
  float: left;
  width: 50%;
  height: calc(50vh - 40px);
  border-bottom: 1px solid black;
}
#participants{
    margin-bottom: 0;
    margin-top: 10px;
}
.vborder {
    border-right: 1px solid black;
}
#inProgress{
  float: left;
  width: 50%;
  height: calc(50vh - 40px);
  overflow:auto;
  border-bottom: 1px solid black;
}
#enter{
    width:20em; height: 3em;
}
#playerName,#tourName{
     width:20em; height: 2.5em;
      display:  inline-block;
}
#datepicker{
      width:20em; height: 1em;
}
#runMax{
height:1.5em; width: 1.5em;

}
#numPlayers{
    height: 2.5em; width: 10em;
}
#generate{
margin-top:80px;
    width:200px;
    height:40px;
    font-size:20px;
   margin-left:35%;
   margin-right:35%;
}
#startTourney{
    margin-top:60px;
    margin-left:27%;
}
#needToStart{
    margin-top:50px;
    margin-left:27%;
}
#startDate{
    margin-top:70px;
    margin-left:27%;
}

#joinScreen {
    margin-top:5%;
    text-align: center;
    font-size: 50px;
}
#playerList{
    margin-left:36.5%;
    font-weight: bold;
    font-size: 35px;
}
#signedUp{
    margin-left:36.5%;
    width:20%;
    height:30%;
   overflow: auto;
    font-size: 30px;
}
#enterButton{
    margin-left:35%;
}
#startTime{
    margin-left: 60%;
    font-weight:bold;
margin-top:10px;
}
@media screen and (max-width: 768px){
#tournamentName{
  margin-left: 10%;
}
#startTourney{
    margin-left:10%;
}
#needToStart{
    margin-left:10%;
}
#startDate{
    margin-left:10%;
}
#generate{
   margin-left:20%;
}
#playerList{
    margin-left:20%;
    font-weight: bold;
    font-size: 35px;
}
#signedUp{
    margin-left:20%;
    font-size: 30px;
}
#enterButton{
    margin-left:15%;
}
.listdiv {
    overflow: auto;
    width:100%;
    margin-left:  0;
}
.nameOpen{
    margin-top: 10%;
}
}
