
body{
    font-size:20px;
    background: linear-gradient(#99ccff, #00e6e6, #cccccc);  
    
    height:2000px; 
}
.hidden {
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}

.visible {
    display: block;
}

.listdiv {
    overflow: auto;
    height:  calc(50vh - 40px - 80px);
    width:30%;
    margin-left:  auto;
    margin-right:  auto;
}


.h2List {
    margin-bottom: 0px;
}

.bracketFrame {
    border: solid 1px black;
    background: #4D4D4D;
    width: 700px;
    height: 600px;
}
/* .cursor, */
a {
    cursor: pointer;
}

h1{
  border-bottom:  1px solid black;
  padding-bottom:  10px;
  margin-bottom:  0;
}

h1, h2{
  text-align:  center;
}
#tNamePlace{
 font-weight:bold;
}
#tournamentName{
  display:  inline-block;
  margin:  2px;
   text-align:  center;
}

h2{
  margin-bottom:  10px;
}
.newTournament {
    float: left;
    width: calc(50% - 1px);
   
    height: calc(100vh - 78px);
    text-align: center;
   
   
}

.newTournament h2{
  margin-top:  45%;
}

.right-col{
  float: left;
  width: 50%;
  height: calc(50vh - 40px);
  border-bottom: 1px solid black;
 
}


#participants{
    margin-bottom: 0;
    margin-top: 10px;
}

.vborder {
    border-right: 1px solid black;
}

#inProgress{
  float: left;
  width: 50%;
  height: calc(50vh - 40px);
  overflow:auto;
  border-bottom: 1px solid black;
}




#joinScreen {
    overflow: auto;
   
    border: double;
    margin-left: 25%;
    margin-right: 25%;
    margin-top:10%;
   
    width: 50%;
    text-align: center;
    font-size: 50px;
}

#startTime{
font-weight:bold;
margin-top:10px;
}

#enter{
    width:20em; height: 3em;
}
#playerName,#tourName{
     width:20em; height: 2.5em;
      display:  inline-block;
}


#datepicker{
      width:20em; height: 1em;
}
#runMax{
height:1.5em; width: 1.5em;
}
 
#numPlayers{
    height: 2.5em; width: 10em;
}
