

body{
    font-family: "Roboto";
    font-size:20px;
   background-color:white;
    height:900px; 
  
}
.hidden {
    display: none;
    position: absolute;
    margin-top: -100px;
    margin-left: -100px;
}
.visible {
    display: block;
}
.listdiv {
    overflow: auto;
    height:  calc(50vh - 40px - 80px);
    width:70%;
    margin-left:  20%;
    display: inline-block;
    margin-right: 20px;
}
#listOpen li{
    display:inline-block; 
    margin-right:5%; 
}
#listClosed li{
    display:inline-block;
    margin-right:5%; 
}
.h2List {
    margin-bottom: 0px;
}
.bracketFrame {
    border: solid 1px black;
    background: #4D4D4D;
    width: 700px;
    height: 600px;
}
a {
    cursor: pointer;
}
h1{
   
    padding-bottom:  10px;
    margin-bottom:  0;
}
h1, h2{
  text-align:  center;
}
#tNamePlace{
 font-weight:bold;
}
#tournamentName{
  display:  inline-block;
  margin-left: 80px;

}

h2{
  margin-bottom:  10px;
}

#createNewTournament{

 background-color:#33d6ff;
      color:white;
      height:80px;
      margin-bottom:20px;
}
.main-section{
    margin-top:0;
    background-color:#33d6ff;
}

#generate{
    margin-left:40%;
  margin-top:80px;
  width:  30%;
  height:120px;
  font-size:20px;
  text-align:  center;
  background-color:white;
  color:#33d6ff;
}
#participants{
    margin-bottom: 0;
    margin-top: 10px;
}

.openProgress{
background-color:white;
 color:black;
 width:50%;
   overflow:auto;
   float:left;
}

#inProgress{
background-color:white;
 color:black;
 

  overflow:auto;
 
}
#enter{
    width:20em; height: 3em;
}
#playerName,#tourName{
     width:20em; height: 2.5em;
      display:  inline-block;
}
#datepicker{
      width:20em; height: 1em;
}
#runMax{
height:1.5em; width: 1.5em;

}
#numPlayers{
    height: 2.5em; width: 10em;
    
}

#playerAmount{
  margin-top:50px; 
  margin-left:80px; 
}

#startDate{
     margin-top:50px; 
    margin-bottom:50px;
  
}
#maxPlayers{
    margin-top:30px;
    margin-left:80px; 
}
#joinScreen {
    margin-top:5%;
    text-align: center;
    font-size: 50px;
}
#playerList{
    margin-left:36.5%;
    font-weight: bold;
    font-size: 35px;
}
#signedUp{
    margin-left:36.5%;
    width:20%;
    height:30%;
   overflow: auto;
    font-size: 30px;
}
#enterButton{
    margin-left:35%;
}
#startTime{
    margin-left: 60%;
    font-weight:bold;
margin-top:10px;
}

.main-section{
  overflow:  auto;
 
}

.left-col,
.right-col{
  float:  left;
  width:  50%;
  background-color:#33d6ff;
}







@media screen and (max-width: 768px){

}